name: Docker Build & Publish

on:
  push:
    branches:
      - main
env:
  REPOSITORY_IMAGE: ${{ secrets.REPOSITORY_IMAGE }}
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Login to GHCR
        run: echo "${{ secrets.CR_PAT }}" | docker login ghcr.io -u "${{ github.repository_owner }}" --password-stdin

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build & Push Staging Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: linux/amd64
          tags: |
            ${{ env.REPOSITORY_IMAGE }}:latest
            ${{ env.REPOSITORY_IMAGE }}:${{ github.sha }}
  deploy:
    needs: build-and-push
    environment: staging
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to DigitalOcean
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.DROPLET_IP }}
          username: ${{ secrets.DROPLET_USER }}
          key: ${{ secrets.DROPLET_SSH_KEY }}
          script: |
            cd /containers/bitebits
            sudo docker pull ${{ env.REPOSITORY_IMAGE }}:latest
            sudo docker compose up -d